In [1]:
import pandas as pd
import numpy as np

In [9]:
# df=pd.DataFrame(np.arange(0,20).reshape(5,4),index=['R1','R2','R3','R4','R5'],columns=['C1','C2','C3','C4','C5'])
df=pd.DataFrame(np.arange(0,20).reshape(5,4),index=['Row1','Row2','Row3','Row4','Row5'],columns=["Column1","Column2","Column3","Coumn4"])

In [11]:
df.head(2)

      Column1  Column2  Column3  Coumn4
Row1        0        1        2       3
Row2        4        5        6       7

In [ ]:
df.to_csv_('Tes')